@charset "UTF8";

body {
    border: 10px ridge red;
    border: 10px ridge #0200ff;
    margin: 0px;
    box-shadow: inset 0px 0px 100px #000000;
    height: 100vh;
    background-image: url(imagens/fundo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

main {
    display: grid;
    grid-template: auto auto/ auto auto;
    width: 100%;
    height: 100%;
    background-color: #00000063;
}

#container_grid {
    display: grid;
    grid-area: 1 / 1 / 2 / 3;
    place-items: center;
    gap: 40px;
    grid-template: repeat(4, 100px) / repeat(4, 100px);
    align-content: center;
    justify-content: center;
}

.imagens {
    box-shadow: -4px 4px 4px 1px #000000d4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px #ffee00;
    border: 8px ridge #0200ff;
    border-radius: 20%;
    background-image: url(imagens/Interogacao_caracter.jpg);
}

.imagens>img {
    width: 100px;
    height: 100px;
}

.imagens:hover {
    box-shadow: inset 0px 0px 10px #0004ff00;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8,
#img9,
#img10,
#img11,
#img12,
#img13,
#img14,
#img15,
#img16 {
    opacity: 1;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

#espiar {
    box-shadow: inset 0px 0px 10px #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    align-self: center;
    justify-self: start;
    background-image: radial-gradient(#001aff, #02028a);
    border-radius: 10px;
    border: 5px ridge #0032bb;
    color: #afafff;
    font-weight: bold;
    font-size: 20px;
    width: 130px;
    height: 50px
}

#reiniciar {
    box-shadow: inset 0px 0px 10px #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5%;
    align-self: center;
    justify-self: end;
    background-image: radial-gradient(#001aff, #02028a);
    border-radius: 10px;
    border: 5px ridge #0032bb;
    color: #afafff;
    font-weight: bold;
    font-size: 20px;
    width: 130px;
    height: 50px
}

#reiniciar:hover,
#espiar:hover {
    box-shadow: inset 0px 0px 10px #5f43ff;
}