@charset "UTF8";

body {
    border: 10px ridge #ff6a00;
    margin: 0px;
    box-shadow: inset 0px 0px 100px #000000;
    min-height: 100vh;
    background-image: url(imagens/fundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
    grid-area: 1 / 2 / 2 / 4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    margin-top: 10px;
    color: #d68b00;
    border-radius: 20px;
    text-shadow: 0px 0px 10px #ff6a00;
    white-space: nowrap;
}

main {
    display: grid;
    gap: 20px;
    grid-template: 100px auto 100px / 21% 1fr 1fr 20%;
    width: 100%;
    height: 100vh;
    background-color: #00000063;
}

footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    margin: 15px 0px 0px 0px;
    font-weight: bold;
    background-color: #00000063;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
}

#logo {
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    margin: 15px 0px 0px 0px;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
}

#container_grid {
    display: grid;
    grid-area: 2 / 2 / 3 / 4;
    place-items: center;
    gap: 40px;
    grid-template: repeat(4, 100px) / repeat(4, 100px);
    align-content: center;
    justify-content: center;
}

.imagens {
    box-shadow: -4px 4px 4px 1px #000000d4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: inset 0px 0px 10px #ffee00;
    border: 8px ridge #ff6a00;
    border-radius: 20%;
    background-image: url(imagens/Interogacao_caracter.jpg);
    background-size: 100% 100%;
}

.imagens>img {
    width: 100%;
    height: 100%;
}

.imagens:hover {
    box-shadow: inset 0px 0px 10px #0004ff00;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8,
#img9,
#img10,
#img11,
#img12,
#img13,
#img14,
#img15,
#img16 {
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
}

#espiar {
    grid-area: 3 / 3 / 4 / 4;
    margin-left: 5%;
    align-self: center;
    justify-self: start;
    font-size: 1.5vw;
    padding: 10px;
}

#reiniciar {
    grid-area: 3 / 2 / 4 / 3;
    margin-right: 5%;
    align-self: center;
    justify-self: end;
    font-size: 1.5vw;
    padding: 10px;
}

#pontuacao {
    text-shadow: 0px 0px 10px #2bff00 !important;
    grid-area: 1 / 4 / 2 / 5;
    margin-left: 5%;
    align-self: center;
    justify-self: start;
    font-size: 3vw;
    padding: 10px;
    white-space: nowrap;
}

#timer {
    grid-area: 1 / 4 / 2 / 5;
    margin-left: 5%;
    align-self: center;
    justify-self: start;
    font-size: 3vw;
    padding: 10px;
}

.imagens img {
    -webkit-user-drag: none;
    pointer-events: auto;
    /* caso precise garantir que ainda clique */
}


#timer,
#pontuacao,
#reiniciar,
#espiar {
    border: 5px ridge #ff6a00;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 0px 0px 10px #000000;
    background-image: radial-gradient(#943e00, #ff6a00);
}

#reiniciar:hover,
#espiar:hover {
    box-shadow: inset 0px 0px 10px #ffec43;
}

#ad1{
    grid-area: 2 / 1 / 3 / 2;
    background-color: blue;
   width: 100%;
    height: 100%;
}
#ad2{
    grid-area: 2 / 4 / 3 / 5;
    background-color: red;
    width: 100%;
    height: 100%;
}

iframe{
    width: 100% !important; 
    
}

#aswift_2_host{
    width: 100% !important;
    
}

/* .adsbygoogle{
    height: 100%!important;
}

.adsbygoogle-noablate{
    height: 50%!important;
} */